#moverbotao {
    transition: all 0.7s ease-in-out;
    position: absolute;
    cursor: pointer;
    padding: 10px 20px;
    margin: 8px;        
}


h1{
    text-align: center;
     
}
#sim{
    cursor: pointer;
    padding: 10px 20px;
    margin: 8px;
}

#centralizar{
    top: 50%;
    left: 50%;
    text-align: center;
    padding: 10px 20px;
    
}

body{
    background-color: #ff000052;
    background-size: cover;
     background-repeat:repeat;
        
}

#emoji-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
}

.emoji {
    position: absolute;
    font-size: 2rem;
    animation: fall linear infinite;
}

@keyframes fall {
    0% {
        transform: translateY(-100%);
    }
    100% {
        transform: translateY(100vh);
    }
}